# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# ts
node_modules
typechain-types

hardhat_cache
cache_hardhat
artifacts

coverage
coverage.json

# Generated reports
gas-report.txt
dbg.project.json

# Temporary files
*~

# Forge dependencies (should be managed by package manager)
lib/

.DS-Store